<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/Q4Style.css">
  <script src="/js/loginValidation.js" defer></script>
  <script src="/js/datetime.js" defer></script>

</head>
<body>

<div class="header">
  <a href="/"><img src="/img/FurEverHomesLogo.png" alt="logo" class="logo"></a>
  <div id="datetime" class="datetime"></div>
</div>
