<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/css/Q4Style.css">
  <script src="/js/datetime.js" defer></script>
</head>
<body>



<div class="row">


  <div class="col-6 col-s-12">
    <div class="container">
      <div class="contact-container">
        <div class="contact-form">
          <h2>Get in Touch</h2>
          <label for="firstname">First Name</label><input type="text" id="firstname" name="firstname" placeholder="First Name">
          <label for="lastname">Last Name</label><input type="text" id="lastname" name="lastname" placeholder="Last Name">
          <label for="email1">Email</label><input type="text" id="email1" name="email" placeholder="Email">
          <label for="phone1">Phone Number:</label><input type="text" id="phone1" name="phone" placeholder="XXX XXX XXXX">
          <label for="message1">Your Message Here</label>
          <textarea id="message1" name="message" placeholder="Your Message Here..." style="height:200px"></textarea>
          <input type="submit" value="Send">
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 col-s-12">
    <div class="contact-info">
      <h2>Contact Us</h2>
      <p>Yuying Yuan</p>
      <p>4003 8007</p>
      <p>y_yuyin@live.concordia.ca</p>
    </div>
  </div>
</div>


</body>
</html>
