<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FurEverHomes Home</title>
  <link rel="stylesheet" href="/css/Q4Style.css">
</head>
<body>

<div class="row">

  <div class="col-9 col-s-12">
    <h2>Welcome to FurEverHomes!</h2>
    <p>At FurEverHomes, our mission is to connect loving families with wonderful dogs and cats in need of a forever home. Whether you're looking to adopt a new furry friend or need to find a loving home for a pet you can no longer care for, we're here to help.</p>
    <h2>About Us</h2>
    <p>Welcome to FurEverHomes, Montreal's premier platform dedicated to connecting pets with loving families. Founded with a deep passion for animal welfare, our mission is to ensure that every dog and cat finds a warm and loving forever home.</p>
    <h2>Our Story</h2>
    <p>FurEverHomes was born out of a love for animals and a desire to address the growing need for pet adoption services in Montreal. We understand that every pet deserves a chance to be loved and cared for, and every family deserves the joy of a furry companion. Our team is made up of dedicated animal lovers and experienced professionals who work tirelessly to match pets with their perfect homes.</p>

    <h2>Why Choose FurEverHomes?</h2>
    <ul class="whyFEH">
      <li>Local Expertise: Based in the heart of Montreal, we have a deep understanding of the local community and its needs.</li>
      <li>Comprehensive Resources: From browsing available pets to accessing care guides for your new companion, we provide all the tools you need to ensure a successful adoption.</li>
      <li>Supportive Community: Join a network of fellow pet lovers and adopters, and gain access to continuous support and advice.</li>
      <li>Ethical Practices: We prioritize the well-being of every animal, ensuring that each adoption is a perfect fit for both the pet and the family.</li>
    </ul>
    <h2>Join Us in Making a Difference</h2>
    <p>At FurEverHomes, we believe in the power of love and companionship that pets bring into our lives. We are committed to making the adoption process smooth, transparent, and fulfilling for everyone involved. Thank you for being a part of our community and for opening your heart and home to a pet in need.</p>
    <p>Explore our site, meet our wonderful pets, and become a part of the FurEverHomes family. Together, we can make a difference, one adoption at a time.</p>
  </div>
</div>

</body>
</html>
